:root {
    --header-color: #333;
    --header-text-color: #fff;
    --button-color: #5D5D5D;
    --button-color-2: #F64740;
    --button-color-hover: #A29F94;
}

body {
    margin: 0;
}

button {
    background-color: var(--button-color);
    border: 1px solid white;
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 20px;
}
button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
}

img {
    margin: 0;
    padding: 0;
}
